/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;

}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color:#3c4547;
}

.center{
  text-align:center;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #212626;
  border-top: 1px solid #ff4d42;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus{
  color:#fff;
}
.navbar{
  background-color:#212626;
  border-color:#2ecc71;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
  background-color:#fff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  color:#333;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
table{
  
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td
{
  border-bottom: 1px solid #333;
}

.logo {
    margin-top: 90px;
    margin-bottom: 60px;
}
.logo #title {
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(240, 240, 240);
    font-family: 'Varela Round', 'sans-serif';
}

.joinLobby #Enter {
    border: 0;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 7px;
    background-color: rgba(242, 116, 74, 0.95);
    border-bottom: 3px solid #B8500F;
    color: white;
    font-family: 'Varela Round', 'sans-serif';
}

.joinLobby #Enter:hover {
    border-bottom:1px solid #BB500F;
    position:relative;
    top:2px;
}

#lobby{
  color:#fff;
}

#lobby h2{
  letter-spacing:5px;
}

#lobby a{
  text-decoration: none;
}
#game-list a, #game-list .full span.full-button{
  padding: 2px 0px;
  background-color:#333;
  color:#2ecc71;
  width:100px;
  display:inline-block;
}
#game-list a:hover{
  background-color:#212626!important;
}

#game-list{
  padding:10px;
  padding-top:20px;
  color:#fff;
}
#game-list .row{
  padding:10px 0;
}
#game-list .row.header{
  padding-bottom:10px;
  border-bottom:1px solid #ddd;
}
#game-list .row div{
  text-align:center;
}

#game-list .full span{
  color:#7e8183;
}

#game-list .full span.full-button{
  color:#7e8183;
}