doctype html

html(lang="en")
	head
		title Speed
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='static/stylesheets/normalize.css')
		link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
		link(rel='stylesheet', href='static/stylesheets/alertify.core.css')
		link(rel='stylesheet', href='static/stylesheets/alertify.default.css')
		link(rel='stylesheet', href='static/stylesheets/nv.d3.css')
		link(rel='stylesheet', href='static/stylesheets/style.css')
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Varela+Round")
	body
		.navbar.navbar-default.navbar-fixed-top(role='navigation')
			.content
				.navbar-header
					//button.navbar-toggle(type="button", data-toggle="collapse",data-target=".navbar-collapse")
						span.sr-only 
							Toggle Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/" style="letter-spacing:3px;") 
						| SPEED
						i.fa.fa-bolt
							
		block content

		#footer
			.container
				p.text-muted(style="color:#fff; font-size:12px; letter-spacing:1px;")
					| Developed by 
					a(href="http://insoochoo.com") Insoo Choo
					| &nbsp;and&nbsp;
					a(href="http://bumjung.com") Paul Kim
					span(style="float:right;") Released on ~
		block javascript
		script(type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(type="text/javascript" src='/socket.io/socket.io.js')
		script(type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		script(type="text/javascript" src='static/javascript/alertify.min.js')
		script(type="text/javascript" src='http://d3js.org/d3.v3.min.js')
		script(type="text/javascript" src='static/javascript/nv.d3.min.js')
		script(type="text/javascript" src='static/javascript/frontend.js')

