extends base

block content
	.container
		.row
			.col-xs-12.center
				.logo
					span#title 
						| It's all about the speed
				.joinLobby
					button#Enter(onclick="window.location.href='/lobby'") 
						| Join Lobby &nbsp;
						i.fa.fa-bolt