extends base

block content
	.container#lobby
		.row
			.col-md-9
				h2 LOBBY
				br
				#game-list
					table

				//#game-list
					.row.header
						.col-xs-1
						.col-xs-2
							span
								| Title
						.col-xs-5
							span
								| Description
					.row
						.col-xs-1
							i(style='color:#2ecc71;' class='fa fa-circle')
						.col-xs-2
							span hello
						.col-xs-5
							span(style='color:#fff; text-align:left;') Join me to play a game of SPEED !
						.col-xs-4
							a(href='http://localhost:5000/room')
								| JOIN ROOM
					.row
						.col-xs-1
							i(style='color:#2ecc71;' class='fa fa-circle')
						.col-xs-2
							span hello
						.col-xs-5
							span(style='color:#fff; text-align:left;') Join me to play a game of SPEED !
						.col-xs-4
							a(style='' href='http://localhost:5000/room')
								| JOIN ROOM
					.row
						.col-xs-1
							i(style='color:#2ecc71;' class='fa fa-circle')
						.col-xs-2
							span hello
						.col-xs-5
							span(style='color:#fff; text-align:left;') Join me to play a game of SPEED !
						.col-xs-4
							a(href='http://localhost:5000/room')
								| JOIN ROOM
					.row
						.col-xs-1
							i(style='color:#2ecc71;' class='fa fa-circle')
						.col-xs-2
							span hello
						.col-xs-5
							span(style='color:#fff; text-align:left;') Join me to play a game of SPEED !
						.col-xs-4
							a(href='http://localhost:5000/room')
								| JOIN ROOM
			.col-md-3(style="height:350px;border:3px dashed #e9e9e9")
