extends base

block content
	.container
		p game room
		input(id="shareURL" style="display:inline-block;" type='text', data-room=share, name='shareUrl', value=shareURL ReadOnly)
		button#ready(style="visibility:hidden;") ready
		p#countdown ready?
		p#roundTime 5
		span score1&nbsp;
			span#p1-score 0
		span score2&nbsp;
			span#p2-score 0
		br
		p#question
		span#ans0
		br
		span#ans1
		br
		span#ans2
		br
		span#ans3
		br
		span ANSWER KEY : 
			span#ansKey
		br
		input(id="answer_input" type="text")
		#chart
			svg